<html>
  <head>
    <title>Predict</title>
    <script type="text/javascript" src="brython.js"></script>
    <script type="text/javascript" src="brython_stdlib.js"></script>
  </head>
  <body onload="brython(1)">
    <script type="text/python3">
      from browser import document, ajax
      import json

      def display_increment(response):
          document["result"].html += response.text
          print('display print statement here')

      def send_to_server(ev):
          """Get the predicted probability."""

          print('send_to_server print statement here')

          req = ajax.ajax()
          req.bind('complete', display_increment)
          req.open('POST', '/increment_on_server', True)
          req.set_header('content-type','application/json')

          data = json.dumps({'package_to_server': document['package_id'].value})
          req.send(data)


      document["event_button_id"].bind("click", send_to_server)
    </script>

    <textarea id="package_id"></textarea>
    <button id="event_button_id">Action Button</button>
    <div id="result">Result Here: </div>
    {% for element in var_from_server %}
      {% if element > 2 %}
        <div>{{element}}</div>
      {% endif %}
    {% endfor %}
  </body>
</html>
